@model AniconAppAspNET.Models.Produto

@{
    ViewBag.Title = "Detalhes do Produto";
}

<h2>Detalhes do Produto</h2>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.Prod_Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prod_Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prod_Garant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prod_Garant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prod_Val)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prod_Val)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prod_QuantEstoq)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prod_QuantEstoq)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prod_Descri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prod_Descri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prod_Img)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.Prod_Img)" />
        </dd>

    </dl>
</div>
<p>
    
    @Html.ActionLink("Voltar", "Index", "Home")
</p>
