@model AniconAppAspNET.Models.Produto

@{
    ViewBag.Title = "Detalhes do Produto";
}

<section class="produto-page">
    <div class="container">
        <h2>@Html.DisplayFor(model => model.Prod_Nome)</h2>
        <div class="produto-wraper">
            <div class="img-slider">
                <div class="container-img-slider">
                    <img src="@Html.DisplayFor(model => model.Prod_Img)" alt="imagem do produto" class="borda-preta">
                    <img src="@Html.DisplayFor(model => model.Prod_Img)" alt="imagem do produto" class="borda-preta">
                </div><!--container-img-slider-->
                <div class="img-slider-nav">
                    <img src="@Html.DisplayFor(model => model.Prod_Img)" alt="imagem do produto" class="borda-preta">
                    <img src="@Html.DisplayFor(model => model.Prod_Img)" alt="imagem do produto" class="borda-preta">
                </div>
            </div><!--img-slider-->
            <div class="produto-info  borda-preta">
                <p>@Html.DisplayFor(model => model.Prod_Descri)</p>
                <div class="preco">
                    <div class="preco-left">
                        <p>R$@Html.DisplayFor(model => model.Prod_Val)</p>
                    </div><!--preco-left-->
                    <div class="preco-right">
                        <p>Estoque: @Html.DisplayFor(model => model.Prod_QuantEstoq)</p>
                    </div><!--preco-right-->
                </div>
                <div class="preco">
                    <div class="preco-left">
                        <p>Garantia: @Html.DisplayFor(model => model.Prod_Garant)</p>
                    </div><!--preco-left-->
                </div>
            </div><!--produto-info-->
        </div><!--produto-wraper-->
        <center>
            <p>
                @Html.ActionLink("Voltar", "Index", "Home")
            </p>
        </center>
    </div><!--container-->
</section><!--produto-page-->

