@model IEnumerable<AniconAppAspNET.ViewModels.ListAllProdViewModel>

@{
    ViewBag.Title = "Produtos";
}

<h2>Produtos da Anicon</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Prod_Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prod_Val)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prod_Descri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prod_Img)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Prod_Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prod_Val)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prod_Descri)
        </td>
        <td>
            <img src="@Url.Content(item.Prod_Img)" style="width: 100px; height: 200px; object-fit: cover;" />
        </td>
        
        <td>
            <button class="botao">
                <a href="">Detalhes</a>
            </button>
        </td>
    </tr>
}

</table>
