<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - ANICON 2022</title>
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

</head>
<body>
    <nav class="nav">
        <div class="menu-icon">
            <span class="fas fa-bars"></span>
        </div>
        <div class="logo" style="font-family: Limelig">
            ANICON
        </div>
        <div class="nav-items">
            <li><a href='@Url.Action("Index", "Home")'>Página Inicial</a></li>
            <li><a href='@Url.Action("Perfil", "Home")'>Perfil</a></li>
            <li><a href='@Url.Action("IndexProd", "Produto")'>Produtos</a></li>
            <li><a href='@Url.Action("Login", "Autenticacao")'>Login</a></li>
            <li><a href='@Url.Action("Insert", "Autenticacao")'>Cadastrar</a></li>
        </div>
        <div class="search-icon">
            <span class="fas fa-search"></span>
        </div>
        <div class="cancel-icon">
            <span class="fas fa-times"></span>
        </div>
        <form action="#">
            <input type="search" class="search-data" placeholder="Buscar produtos" required=required />
            <button type="submit" class="fas fa-search"></button>
        </form>
    </nav>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("ANICON", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Produtos", "IndexProd", "Produto")</li>
                        <li>@Html.ActionLink("Gerenciar conta", "Perfil", "Home")</li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @if (User.Identity.IsAuthenticated)
                         {
                            <li>@Html.ActionLink(@User.Identity.Name, "", "")</li>
                            <li>@Html.ActionLink("Alterar Senha", "Alterarsenha", "Autenticacao")</li>
                            <li>@Html.ActionLink("Sair", "Logout", "Autenticacao")</li>
                         }
                         else
                         {
                            <li>@Html.ActionLink("Cadastro", "Insert", "Autenticacao")</li>
                            <li>@Html.ActionLink("Login", "Login", "Autenticacao")</li>
                         }
                    </ul>
                </div>
            </div>
        </div>*@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <br />    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col centrooo">
                    <h4>Empresa</h4>
                    <ul>
                        <li><a href='@Url.Action("Index", "Home")'>Página Inicial</a></li>
                        <li><a href='@Url.Action("Index", "Home")'>Página Inicial</a></li>
                        <li><a href='@Url.Action("Index", "Home")'>Página Inicial</a></li>
                        <li><a href='@Url.Action("Index", "Home")'>Página Inicial</a></li>
                    </ul>
                </div>
                <div class="footer-col centrooo">
                    <h4>Fale conosco</h4>
                    <ul>
                        <li><a href='@Url.Action("Index", "Home")'>Página Inicial</a></li>
                        <li><a href='@Url.Action("Index", "Home")'>Página Inicial</a></li>
                        <li><a href='@Url.Action("Index", "Home")'>Página Inicial</a></li>
                        <li><a href='@Url.Action("Index", "Home")'>Página Inicial</a></li>
                        <li><a href='@Url.Action("Index", "Home")'>Página Inicial</a></li>
                    </ul>
                </div>
                <div class="footer-col centrooo">
                    <h4>Categorias</h4>
                    <ul>
                        <li><a href='@Url.Action("Index", "Home")'>Página Inicial</a></li>
                        <li><a href='@Url.Action("Index", "Home")'>Página Inicial</a></li>
                        <li><a href='@Url.Action("Index", "Home")'>Página Inicial</a></li>
                        <li><a href='@Url.Action("Index", "Home")'>Página Inicial</a></li>
                    </ul>
                </div>
                <div class="footer-col centrooo">
                    <h4>Redes sociais</h4>
                    <div class="social-links">
                        <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    @*<footer class="footer-clean" style=" border-top: 3px solid black; ">
            <div >
                <div class="container">
                    <br />
                    <div class="row justify-content-c">
                        <div class="col-sm-5 col-sm-3 item">
                            <h3 style="text-align:center">Formas de pagamento</h3>
                            <table>
                                <tr>
                                    <td><img class="img-responsive" src="~/Content/Images/Visa_logo.png" /></td>
                                    <td><img class="img-responsive" src="~/Content/Images/Mastercard_logo.png" /></td>
                                    <td><img class="img-responsive" src="~/Content/Images/Elo_logo.png" /></td>
                                    <td><img class="img-responsive" src="~/Content/Images/Pix_logo.png" /></td>
                                </tr>

                            </table>
                            <br /> <br />

                            <h3 style="text-align:center;">Fale conosco</h3>
                            <ul style="text-align:center; list-style:none">
                                <li>
                                    <a href="mailto:dix.dixtech@gmail.com" class="btn-link; btn-lg">dix.dixtech@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4 col-md-3 item">
                            <h3 style="text-align:center">Coleções</h3>
                            <ul style="text-align:center; list-style:none">
                                <li><a href="#">One Piece</a></li>
                                <li><a href="#">One Punch Man</a></li>
                                <li><a href="#">Judjasju</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4 col-md-3 item">
                            <h3 style="text-align:center">Mangás</h3>
                            <ul style="text-align:center; list-style:none">
                                <li><a href="#">DBZ</a></li>
                                <li><a href="#">DeathNote</a></li>
                                <li><a href="#">Revival Comandants</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4 col-md-3 item">
                            <h3>
                                Receba nossas novidades!
                            </h3>
                            <h4 style="text-align:center">Redes Sociais</h4>

                        </div>
                        <div class="col-sm-4 col-md-3 item text-center>
                            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i></a>
                            <a href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter-square"></i></a>
                            <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram-square"></i></a>
                            <a href="https://www.github.com/" target="_blank"><i class="fab fa-github-square"></i></a>
        <div class="col-sm-4 col-md-3 item">
                <h3>Mangás</h3>
                <ul style="list-style:none">
                    <li>
                        <a class="botaozinho" href="https://www.facebook.com/" target="_blank">
                            <svg viewBox="0 0 16 16" class="bi bi-twitter" fill="currentColor" height="18" width="18" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"></path>
                            </svg>
                            <span>Twitter</span>
                        </a>
                    </li>
                    <br />
                    <br />
                    <br />

                    <li>
                        <a class="botaozinho" href="https://www.facebook.com/" target="_blank">
                            <?xml version="1.0" ?>
                            <svg height="100%" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;" version="1.1" viewBox="0 0 512 512" width="100%" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M449.446,0c34.525,0 62.554,28.03 62.554,62.554l0,386.892c0,34.524 -28.03,62.554 -62.554,62.554l-106.468,0l0,-192.915l66.6,0l12.672,-82.621l-79.272,0l0,-53.617c0,-22.603 11.073,-44.636 46.58,-44.636l36.042,0l0,-70.34c0,0 -32.71,-5.582 -63.982,-5.582c-65.288,0 -107.96,39.569 -107.96,111.204l0,62.971l-72.573,0l0,82.621l72.573,0l0,192.915l-191.104,0c-34.524,0 -62.554,-28.03 -62.554,-62.554l0,-386.892c0,-34.524 28.029,-62.554 62.554,-62.554l386.892,0Z" style="fill:#362f7e;" /></svg>
                            <span>Facebook</span>
                        </a>
                    </li>
                </ul>
            </div>


        </div>
        </div>
        <div class="col-sm-4 col-md-3 item">
                            <h3>
                                Baixe nosso App!
                            </h3>
                            <a href="https://github.com/dixdixtech/AppAnicon" target="_blank" class="btn-link">AppAnicon</a>
                        </div>
                    </div>
                    <br />
                    <center><h4>Todos os direitos reservados ANICON&copy; - @DateTime.Now.Year  </h4></center>
                </div>
            </div>
        </footer>*@
    @*<footer>
            <p>ANICON&copy; - @DateTime.Now.Year  </p>
        </footer>*@
    @Scripts.Render("~/Scripts/script.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
