@model IEnumerable<AniconAppAspNET.ViewModels.ListAllProdViewModel>

@{
    ViewBag.Title = "Home Page";
}
@if (TempData["MsgLogin"] != null)
{
    <div class="alert alert-success btn-lg">
        @TempData["MsgLogin"]
    </div>
}
<div class="jumbotron">
    <h1>BEM-VINDO À ANICON - A SUA LOJA GEEK</h1>
    <table class="table" style="border:solid; border-block-color:black; border-width:1px ">
        <tr style="background-color:black; color:white">
            <th style="border: solid; border-block-color: white; border-width: 1px ">
                @Html.DisplayNameFor(model => model.Prod_Nome)
            </th>
            <th style="border: solid; border-block-color: white; border-width: 1px ">
                @Html.DisplayNameFor(model => model.Prod_Val)
            </th>
            @*<th style="border: solid; border-block-color: white; border-width: 1px ">
                @Html.DisplayNameFor(model => model.Prod_Descri)
            </th>*@
            <th style="border: solid; border-block-color: white; border-width: 1px ">
                @Html.DisplayNameFor(model => model.Prod_Img)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr style="background-color:#808080">
                <td style="border: solid; border-block-color: white; border-width: 1px ">
                    @Html.DisplayFor(modelItem => item.Prod_Nome)
                </td>
                <td style="border: solid; border-block-color: white; border-width: 1px ">
                    @Html.DisplayFor(modelItem => item.Prod_Val)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Prod_Descri)
                </td>*@
                <td style="border: solid; border-block-color: white; border-width: 1px "> 
                    <img src="@Url.Content(item.Prod_Img)" style="width: 100px; height: 200px; object-fit: cover;" />
                </td>

                <td>
                    <button class="botao">
                        <a href="@Url.Action("DetalhesProduto", "Produto", new { Prod_Cod = item.Prod_Cod })">Detalhes</a>
                    </button>
                </td>
            </tr>
        }

    </table>

</div>


