@model IEnumerable<AniconAppAspNET.Models.Produto>

@{
    ViewBag.Title = "Produtos";
}

<h2>Produtos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Prod_Cod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fkCateg_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prod_Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prod_Garant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prod_Val)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prod_QuantEstoq)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prod_Img)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Prod_Cod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fkCateg_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prod_Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prod_Garant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prod_Val)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prod_QuantEstoq)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prod_Img)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
